!!!
%html
  %head
    %title
      APLIPlus, the brand new teambuilding concept #Complete #NoLimits !
    = stylesheet_link_tag 'plus', media: 'all'
    = csrf_meta_tags
    = javascript_include_tag "vendor/modernizr"
  %body
    %div.row
      %nav.top-bar{ "role" => "navigation", "data-topbar" => "true" }
        %ul.title-area
          %li.name
            %h1
              %a{ :href => "/" }
                APLIPlus
        %section.top-bar-section
          %ul.right
            - if user_signed_in?
              %li.active
                = link_to('Logout', destroy_user_session_path, :method => :delete)
            - else
              %li.active
                = link_to('Login', new_user_session_path)
    %div.row
      - if notice
        %div.alert-box.success.radius{ "data-alert" => true}
          = notice
          %a.close{ :href => "#" }
            &times;
      - if alert
        %div.alert.alert-box.alert.radius{ "data-alert" => true}
          = alert
          %a.close{ :href => "#" }
            &times;
      = yield
    %footer.row
      - if Rails.env.development?
        %br
        %br
        %br
        %div.panel.row
          = debug(params)
    = javascript_include_tag 'plus'
